:root {
  --gray: rgb(68, 71, 90);
  --background:rgb(40, 42, 54);
  --red : rgb(255, 85, 85);
  --title: rgb(255, 121, 198);
}

a{
  text-decoration: none;
}

header{
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img{
  width: 30px;
  height: 30px;
  margin: 10px;
}

header h1{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: whitesmoke;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
}

#typebox{
  margin: 0 4%;
  height: 93px;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
}

.focus{
  position: absolute;
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(40, 42, 54, 0.072) ;
  z-index: 4;
}

.focus p{
  color: rgb(203, 197, 197);
  margin: 0;
}

.word{
  color: var(--gray);
  font-size: 25px;
  margin: 0 5px;
  display: inline-block;
}

.correct{
  color: white;
}

.incorrect{
  color:var(--red);
}

.typebox-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.finalLine{
  position: absolute;
}

.firstLine{
  position: absolute;
  top: 30px;
}

.title {
  color: mintcream;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1em;
  letter-spacing: 0.3em;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  /* visibility: hidden; */
}

.row {
  list-style: none;
  display: flex;
}

li {
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 2px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color:#f8f8fa;
}

ul{
  padding: 0;
  margin: 0;
}

.refreshBtn{
  width: 24px;
}

.fa-arrows-rotate{
  color: var(--gray);
  padding: 20px;
}

.displayTimer{
  align-self: flex-start;
  font-size: 15px;
  font-weight: 700;
  color: white;
  visibility: hidden;
  margin: auto 0;
}

.timeContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.timeSelectors{
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  color: var(--gray);
}

.timeSelector:hover{
  color: white;
  transition: 0.5s;
}

.selected {
  color: white;
}

.modalResult{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6273a4e3;
  z-index: 999;
  color: white;
  visibility: hidden;
}

.modalResult-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--background);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0px #44475a;
}

.modalResult-header{
  color: var(--title);
  font-size: 20px;
}

#wpm{
  color: var(--title);
}

#accuracy{
  color: #50fa7b;
}

.modalResult__content__footer .fa-arrows-rotate{
  color: white;
}

.fa-arrows-rotate:hover{
  transform: scale(1.2);
  color: white;
  transition: 0.5s;
  border-radius: 10%;
}

.modalResult-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: var(--title);
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--gray);
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25px;
  border-radius: .25em;
  overflow: hidden;
  width: 80px;
}

@media screen and (min-width: 550px) {
  li {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 335px) {
  .keyboard {
    display: none;
  }
  .modalResult-chart{
    display: none;
  }
}

.fa-volume-high{
  color: var(--gray);
}

.fa-volume-xmark{
  color: var(--red);
}

.timeOptions{
  display: flex;
  gap: 10px;
}